$primary-color: #d60000;
$primary-color-dark: #9c0000;
$primary-color-light: #ff5131;
$primary-color-text: white;

$secondary-color: #212121;
$secondary-color-dark: #000000;
$secondary-color-light: #484848;

$background-color: #f5f5f6;
