body {
  margin: 0; }
  body * {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box; }

.sidebar {
  display: none; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

a {
  text-decoration: none;
  color: black; }

.logo {
  color: white;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold; }

nav {
  background-color: #9c0000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 4em; }

.user {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 5px 1em;
  font-size: 1.1em;
  font-weight: 500;
  border-radius: 5px; }

.user-profile {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-right: 15px; }

@media (max-width: 767px) {
  .user {
    display: none; } }

.sidebar-item-active {
  background-color: #ff5131; }

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  z-index: 2;
  background-color: #f5f5f6;
  color: white;
  height: calc(100vh - 4em);
  width: 70%;
  max-width: 400px;
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out; }
  .sidebar.open {
    transform: translateX(0); }
  .sidebar ul {
    height: 100%; }
  .sidebar .user {
    display: flex;
    flex-direction: column; }
  .sidebar .user-profile {
    height: 5em;
    width: 5em; }
  .sidebar ul {
    flex-grow: 1; }
  .sidebar li a {
    display: block;
    padding: 15px; }
  .sidebar #logout-button {
    border: none;
    padding: 15px;
    text-align: start;
    cursor: pointer; }

#toggle-button {
  display: flex;
  background-color: transparent;
  border: none;
  width: 2.3em;
  height: 50%;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  cursor: pointer; }
  #toggle-button:focus {
    outline: none; }
  #toggle-button span {
    width: inherit;
    height: 5px;
    background-color: white;
    border-radius: 5px; }

#sidebar-background {
  display: none;
  position: absolute;
  top: 4em;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: background-color 200ms ease; }
  #sidebar-background.open {
    background-color: rgba(0, 0, 0, 0.3);
    display: block; }

.course-element {
  box-shadow: 5px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 7px;
  padding: 15px;
  background-color: #f3f2c2; }

#schedule {
  display: grid; }

@media (min-width: 768px) {
  #schedule {
    grid-template-areas: '. days' 'timeline content';
    grid-template-columns: 120px;
    grid-template-rows: 60px; }
    #schedule .week-days {
      grid-area: days;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      font-size: 12px; }
      #schedule .week-days > span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: 1px solid gray; }
    #schedule .timeline {
      grid-area: timeline;
      display: grid;
      font-size: 14px; }
      #schedule .timeline > li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: 1px solid gray; }
    #schedule .content {
      grid-area: content;
      display: grid;
      grid-template-areas: 'LUNES MARTES MIERCOLES JUEVES VIERNES SABADO';
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(17, 1fr); }
      #schedule .content > div {
        border: 1px solid gray; } }

#schedule .course {
  font-size: 100%; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 2em;
  margin-right: 2em;
  gap: 1em; }
