nav {
	background-color: $primary-color-dark;
	color: $primary-color-text;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	height: 4em;
}

.user {
	background-color: white;
	display: flex;
	align-items: center;
	padding: 5px 1em;
	font-size: 1.1em;
	font-weight: 500;
	border-radius: 5px;
}

.user-profile {
	width: 2em;
	height: 2em;
	border-radius: 50%;
	margin-right: 15px;
}

@media (max-width: 767px) {
	.user {
		display: none;
	}
}
