#schedule {
	display: grid;
}

@media (min-width: 768px) {
	#schedule {
		grid-template-areas:
			'. days'
			'timeline content';
		grid-template-columns: 120px;
		grid-template-rows: 60px;

		.week-days {
			grid-area: days;
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			font-size: 12px;

			& > span {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				border: 1px solid gray;
			}
		}

		.timeline {
			grid-area: timeline;
			display: grid;
			font-size: 14px;

			& > li {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				border: 1px solid gray;
			}
		}

		.content {
			grid-area: content;
			display: grid;
			grid-template-areas: 'LUNES MARTES MIERCOLES JUEVES VIERNES SABADO';
			grid-template-columns: repeat(6, 1fr);
			grid-template-rows: repeat(17, 1fr);

			& > div {
				border: 1px solid gray;
			}
		}
	}
}
