#sidebar-background {
	display: none;
	position: absolute;
	top: 4em;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	transition: background-color 200ms ease;

	&.open {
		background-color: rgba($color: #000000, $alpha: 0.3);
		display: block;
	}
}
