.sidebar-item-active {
	background-color: $primary-color-light;
}

.sidebar {
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 0;
	z-index: 2;
	background-color: $background-color;
	color: $primary-color-text;
	height: calc(100vh - 4em);
	width: 70%;
	max-width: 400px;
	transform: translateX(-100%);
	transition: transform 300ms ease-in-out;

	&.open {
		transform: translateX(0);
	}

	ul {
		height: 100%;
	}

	.user {
		display: flex;
		flex-direction: column;
	}

	.user-profile {
		height: 5em;
		width: 5em;
	}

	ul {
		flex-grow: 1;
	}

	li a {
		display: block;
		padding: 15px;
	}

	#logout-button {
		border: none;
		padding: 15px;
		text-align: start;
		cursor: pointer;
	}
}
