#toggle-button {
	display: flex;
	background-color: transparent;
	border: none;
	width: 2.3em;
	height: 50%;
	flex-direction: column;
	justify-content: space-around;
	padding: 0;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	span {
		width: inherit;
		height: 5px;
		background-color: white;
		border-radius: 5px;
	}
}
